<div class="all">
  <div class="page-container">
    <div class="content-card">
      <header>
        <h1>{{about}}</h1>
      </header> 
      <div class="section">
        <div class="aboutMe"> 
          <p>{{aboutMe}} {{aboutMe1}} {{aboutMe2}} {{aboutMe3}}</p>
        </div>
        <hr>
        <h2>{{ personalInfoTitle }}</h2>
        <hr>
        <div class="details-container">
          <p><strong>Age:</strong> {{ age }}</p>
          <p><strong>Gender:</strong> {{ gender }}</p>
          <p><strong>Date of Birth:</strong> {{ dateOfBirth }}</p>
          <p><strong>Place of Birth:</strong> {{ placeOfBirth }}</p>
          <p><strong>Contact No.:</strong> {{ contactNumber }}</p>
          <p><strong>Baguio Address:</strong> {{ address }}</p>
        </div>
      </div>
      <hr>
      <div class="section">
        <h2>{{ educationTitle }}</h2>
        <hr>
        <div class="details-container">
          <p><strong>College:</strong> {{ college }}</p>
          <p><strong>Senior High School:</strong> {{ highSchool }}</p>
          <p><strong>Elementary:</strong> {{ elementary }}</p>
        </div>
      </div>
      <hr>
      <div class="section">
        <h2>{{ awardsTitle }}</h2>
        <hr>
        <div class="details-container">
          <p><strong>Variety Show (Cultural Dance):</strong> {{ secondRunnerUp }}</p>
          <p><strong>With Honor:</strong> {{ withHonor }}</p>
          <p><strong>With Honor:</strong> {{ withHonor2 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>