<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="centering">
   <div class="all">
            <img src="/prof.jpg"alt="Profile Image" class="image">
        <div class="text">
            <h1>{{name}}</h1>
            <p>{{course}}</p>
        </div>
        <div class="social-media">
            <a href="mailto:leelav.viin@gmail.com" target="_blank" aria-label="Gmail" alt="Gmail"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.facebook.com/lav.jie" target="_blank" aria-label="Facebook" alt="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/account" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
           <a href="https://m.me/lav.jie" target="_blank" aria-label="Messenger"><i class="fab fa-facebook-messenger"></i></a>
        </div>
    </div>
</div>
